body{
    margin:0;
    padding:0;
   background-color: grey;
    
}

.prod{
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    background-color: white;
    box-shadow: black;
 
    background-color: grey;
  

}
.inner{
border-radius: 20px;
    align-items: center;
   background-color: white;

}

.paginate{
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.st{
    width: 100%;
    height: 250px;
}
.inputTage{
    margin:auto;
     height:50%;
    background-color:grey;
    width: 25%;
  color: white;
}

@media only screen and (max-width: 1300px){
    .prod{
        display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   
    }
    }

    @media only screen and (max-width: 1200px){
        .prod{
            display: grid;
        width: 100%;
        gap: 20px;
        grid-template-columns: repeat(4,1fr);
        background-color: skyblue;
        }
        }

        @media only screen and (max-width: 800px){
            .prod{
                display: grid;
            width: 100%;
            gap: 5px;
            grid-template-columns: repeat(3,1fr);
            background-color: white;
            
            }
           .inner{
            background-color: teal;
           }
           .sametext{
            color: black;
        }
            }

            @media only screen and (max-width: 500px){
                .prod{
                    display: grid;
                width: 100%;
                gap: 5px;
                grid-template-columns: repeat(2,1fr);
                background-color:black;
                }
                .sametext{
                    color: white;
                }
                .inner{
                    background-color: black;
                }
                
                }
                
            @media only screen and (max-width: 350px){
                .prod{
                    display: grid;
                width: 100%;
                gap: 5px;
                grid-template-columns: repeat(1,1fr);
                background-color:black;
                }
                .sametext{
                    color: white;
                }
                
                }
            





